.containerP {
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
  background: #fff;
  text-align: center;
  box-sizing: border-box;

  .brand-btn {
    background-color: skyblue;
    color: green;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: Bahnschrift SemiBold;
  }

  .slider-controls {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .nav-btn {
      background-color: skyblue;
      color: white;
      border: none;
      font-size: 20px;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 2;
      transition: background-color 0.3s;

      &:hover {
        background-color: green;
      }

      &.left {
        margin-right: 10px;
      }

      &.right {
        margin-left: 10px;
      }
    }
  }

  .news-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; // ensure no wrapping
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px 0;
    white-space: nowrap;

    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE
    &::-webkit-scrollbar {
      display: none; // Chrome/Safari
    }

    .news-card {
      flex: 0 0 auto; // prevents wrapping
      width: 350px;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }

      .news-info {
        padding: 10px;
        text-align: left;
        font-family: Bahnschrift SemiBold;

        .city-btn {
          background-color: skyblue;
          color: green;
          border: none;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 12px;
          margin-right: 40px;
          cursor: pointer;
        }

        .icon-n {
          font-size: 16px;
          margin: 0 7px;
        }

        .date {
          color: #757575;
          font-size: 18px;
          margin-right: 10px;
        }

        p {
          margin: 14px 0 0;
          font-size: 18px;
          color: black;
          font-weight: 600;
          font-family: Bahnschrift SemiBold;
        }
      }
    }
  }
}
