.footer {
  background-color: green;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;

  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

    .footer-section {
      margin-bottom: 20px;

      h4 {
        margin-bottom: 10px;
        font-size: 16px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 8px;
          cursor: pointer;
          &:hover {
            color: skyblue
          }
        }
      }

      .logo {
        font-size: 24px;
        font-weight: bold;
        color: green;
        margin-bottom: 10px;
      }

      p {
        margin: 5px 0;
        font-size: 14px;
      }

      .subscribe {
        display: flex;
        flex-direction: column;

        input {
          padding: 10px;
          margin-bottom: 10px;
          border: none;
          border-radius: 5px;
        }

        button {
          padding: 10px;
          background-color: skyblue;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background-color: blue;
          }
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto 0;
    border-top: 1px solid #333;
    padding-top: 10px;
    font-size: 12px;

    .social-links {
      display: flex;
      align-items: center;

      span {
        margin-right: 10px;
      }

      a {
        color: #fff;
        margin-left: 10px;
        text-decoration: none;
        &:hover {
          color: green;
        }
      }
    }
  }
}