.slider {
  width: 100%;
  height: 75vh;
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.content {
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 55%;
  left: 50%;
  opacity: 0;
  width: 70%;
  padding: 2rem;
  transform: translate(-50%, -50%);
  animation: slide-up 1s ease 0.5s;
  animation-fill-mode: forwards;

  h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    font-family: Arial Black;
  }

  p {
    font-size: 1.2rem;
    color: #eee;
    margin-bottom: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
     font-family: Sitka Display;
  }

  a {
    background-color: #056333;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;

    &:hover {
      background-color: #fff;
      color: #056333;
      border: 1px solid #056333;
    }
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    top: 60%;
  }
  100% {
    opacity: 1;
    top: 55%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 90%;
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .slide img {
    height: 60vh;
  }

  .slider {
    height: 60vh;
  }
}

.content > * {
  margin-bottom: 1rem;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.current .content {
  opacity: 1;
}

.arrow {
  border: 2px solid #056333;
  border-radius: 50%;
  background: transparent;
  color: #056333;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #056333;
    color: #fff;
  }
}

.next {
  right: 1.5rem;
}
.prev {
  left: 1.5rem;
}

hr {
  height: 2px;
  background: #fff;
  width: 50%;
}
